body {
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
* {
    font-family: 'Electrolize', sans-serif;
    margin:0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns:20% 4% 1fr;
    grid-template-rows: 70% 1fr;
    grid-template-areas: 
    "one two three"
    "four two three";
}


.one {
    background-color: rgb(214, 198, 198);
    grid-area: one;
    border: 2px solid black;
    border-color: transparent black black transparent;
    position: relative;
    
}
.one h2 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 3px;


}
.texte {
    position: absolute;
    bottom: 4%;
    width: 50%;
    left: 5%;

}
.two {
    background-color: rgb(214, 198, 198);
    grid-area: two;
    overflow: hidden;
    border: 2px solid black;
    border-color: transparent black black transparent;
    text-transform: uppercase;
}
.anim1 {
    color: rgb(29, 29, 29);
    font-size: 100px;
    animation: animation1 25s infinite linear;
    display: flex;
    width: 10000%;
    position: relative;
    left: -1600%;
}
@keyframes animation1 {
    100%{transform: translateX(17%);}
}
.anim2 {
    color: rgb(29, 29, 29);
    font-size: 50px;
    animation: animation2 20s infinite linear;
    display: flex;
    width: 10000%;
    position: relative;
    left: 100%;
    top: 35%;
}
@keyframes animation2 {
    100%{transform: translateX(-15%);}
}
.anim3 {
    color: rgb(29, 29, 29);
    font-size: 100px;
    animation: animation3 18s infinite linear;
    display: flex;
    width: 10000%;
    position: relative;
    left: -2350%;
    top: 70%;
}
@keyframes animation3 {
    100%{transform: translateX(26%);}
}
.three {
    background-color: rgb(3, 0, 0);
    grid-area: three;
    border: 2px solid black;
    border-color: transparent black black transparent;
}
.rond {
    height: 140%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(214, 198, 198);
    color: rebeccapurple;
    display: flex;
    justify-content: center;


}
#lui {
    position: relative;
    top: 25%;
    /* color: grey; */
    color: whitesmoke;
    font-size: 100px;
    letter-spacing: -10px;
}
/* #lui2 {
    position: absolute;
    top: 40%;
    color: whitesmoke;
    font-size: 40px;
    width: 50%;
    top: 79%;
} */
.four {
    background-color: rgb(214, 198, 198);
    grid-area: four;
    border: 2px solid black;
    border-color: transparent black black transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 3px;
}

nav {
    color: whitesmoke;
    position: absolute;
    height: 5%;
    top: 3%;
    right: 3%;
    border-radius: 10%;
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(214, 198, 198);
}
a:hover {
    color: whitesmoke;
}
li {
    list-style: none;
    display: inline;
    padding: 10px;
}

li::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(214, 198, 198);
}


